extends layout

mixin topicRow(topic)
	tr
		td
			- if (topic.state === 'closed')
				i.icon-large.icon-check.pull-right
			- else
				code.pull-right= topic.tally
		td
			a(href="/topics/#{topic.key}")= topic.title
		td= topic.proposedWhen()
		td
			- if (isOwner && (topic.state !== 'closed'))
				form.form-inline(method="POST", action="/topics/#{topic.key}/close")
					input(type="hidden", name="_csrf", value="#{_csrf}")
					button.btn.color4b(type="submit", value="close")
						i.icon-large.icon-check
						| &nbsp; Resolve

block content
	.page-header
		h2= agenda.title 
			br
			small &nbsp; run by #{agenda.owner_id}

	- if (!agenda.active)
		.alert.alert-warning
			| This agenda is no longer active.
	
	.well.color1c!= description

	- var isOwner = locals.authed_user && (agenda.owner_id === locals.authed_user.email);
	- if (agenda.topics.length > 0)
		table.table.table-striped.table-bordered.color3
			tr
				td(colspan=3)
					h3 Open topics
				td
					br
					a.btn.color3c(href="/agendas/#{agenda.key}/present") Present agenda
			tr
				th 
					.pull-right Tally
				th Topic
				th Proposed
				th &nbsp;
			- each topic in agenda.topics.open
				+topicRow(topic)
			- if (agenda.topics.closed && agenda.topics.closed.length > 0)
				tr
					td(colspan=4)
						h3 Closed topics
				- each topic in agenda.topics.closed
					+topicRow(topic)

	- else
		p This meeting has no open topics.

	- if (locals.authed_user)
		- if (agenda.active)
			.row
				.col-md-2
					a.btn.btn-success.color1c(href="/agendas/#{agenda.key}/topics/new") 
						i.icon-large.icon-plus 
						| Add a topic
				- if (authed_user.email === agenda.owner_id)
					.col-md-2
						a.btn.color2c(href="/agendas/#{agenda.key}/edit")
							i.icon-large.icon-edit 
							| Edit agenda
					.col-md-3
						form.form-inline(method="POST", action="/agendas/#{agenda.key}/close")
							input(type="hidden", name="_csrf", value="#{_csrf}")
							button.btn.btn-danger(type="submit", value='close')
								i.icon-large.icon-archive 
								| Archive this agenda
		- else if (authed_user.email === agenda.owner_id)
			form.form-inline(method="POST", action="/agendas/#{agenda.key}/open")
				input(type="hidden", name="_csrf", value="#{_csrf}")
				button.btn.btn-success(type="submit", value='open')
					i.icon-large.icon-archive 
					| Re-open this agenda

	- else
		p Log in to add topics or vote on proposals.


