extends layout

mixin topicRow(topic)
	tr
		td
			- if (topic.state === 'closed')
				i.icon-large.icon-check
			- else
				= topic.tally
		td
			a(href="/topics/#{topic.key}")= topic.title
		td= topic.proposedWhen()
		td
			- if (isOwner)
				form.form-inline(method="POST", action="/topics/#{topic.key}/close")
					button.btn.btn-large.btn-default(type="submit", value="close")
						i.icon-large.icon-check
						| &nbsp; Resolve

block content
	.page-header
		h1= agenda.title 
			br
			small &nbsp; run by #{agenda.owner_id}
	
	.well!= description

	- var isOwner = locals.authed_user && (agenda.owner_id === locals.authed_user.email);
	- if (agenda.topics.length > 0)
		table.table
			tr
				td(colspan=4)
					h3 Open topics
			tr
				th Tally
				th Topic
				th Proposed
				th &nbsp;
			- each topic in agenda.topics.open
				+topicRow(topic)
			- if (agenda.topics.closed && agenda.topics.closed.length > 0)
				tr
					td(colspan=4)
						h3 Closed topics
				- each topic in agenda.topics.closed
					+topicRow(topic)

	- else
		p This meeting has no open topics.

	hr
	- if (locals.authed_user)
		p 
			a.btn.btn-primary(href="/agendas/#{agenda.key}/topics/new") Add a topic &raquo;
	- else
		p Log in to add topics or vote on proposals.
