mixin personLink(person)
	a(href="/u/#{person.key")= person.displayName()
doctype html
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/main.min.css", media="screen")
		link(href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
	body
		nav.navbar.navbar-static-top(role="navigation")
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target=".collapsing-nav")
					span.src-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/")= sitename
			.collapse.navbar-collapse.collapsing-nav
				ul.nav.navbar-nav
					- if (locals.authed_user !== null)
						li
							a(href="/u/#{authed_user.email}") #{authed_user.email}
						li
							a(href="/settings") 
								i.icon-gear.icon-large
				.navbar-right
					- if (locals.authed_user !== null)
						button.btn.btn-default.navbar-btn#signout(type="button") 
							i.icon-signout
							|  Sign out
					- else
						button.btn.btn-default.navbar-btn.signin(type="button") 
							i.icon-signin 
							|  Sign in
		- if (locals.flash.error)
			.container
				.alert.alert-danger.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.error.length; i++)
						= locals.flash.error[i]
		- if (locals.flash.warning)
			.container
				.alert.alert-warn.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.warning.length; i++)
						= locals.flash.warning[i]
		- if (locals.flash.info)
			.container
				.alert.alert-info.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.info.length; i++)
						= locals.flash.info[i]
		- if (locals.flash.success)
			.container
				.alert.alert-success.col-8-lg
					button.close(type="button", data-dismiss="alert") &times;
					- for (var i = 0; i < locals.flash.success.length; i++)
						= locals.flash.success[i]
		.container
			block content
		block scripts
			script(src="http://code.jquery.com/jquery.js")
			script(src='/js/bootstrap.min.js')
			script(src="/socket.io/socket.io.js")
			script(src="https://login.persona.org/include.js")
			- if (locals.authed_user)
				script.
					var authed_user = '#{authed_user.email}';
					var _csrf = "#{_csrf}";
			- else
				script.
					var authed_user = null, _csrf = "#{_csrf}";
			script(src="/js/persona.js")
		hr
		footer(style="padding-bottom: 20px;")
			.container
				small Powered by 
					a(href="https://github.com/ceejbot/consensus") Consensus version #{version}.
					br
					| Full-screen presentation powered by 
					a(href="http://lab.hakim.se/reveal-js/#/") Reveal.js.
