extends layout

block content
	.page-header
		h1= topic.title
		small suggested by 
			a(href="mailto:#{topic.owner_id}")= topic.owner_id
	.well!= description
	p Proposed for discussion at 
		a(href="/agendas/#{agenda.key}")= agenda.title
		.
	- if (locals.authed_user)
		p
			a.btn.btn-large(href="/topics/#{topic.key}/vote/yes", class=yes_class)
				i.icon-large.icon-thumbs-up
				| &nbsp; Yes 
			&nbsp;
			a.btn.btn-large(href="/topics/#{topic.key}/vote/no", class=no_class)
				i.icon-large.icon-thumbs-down
				| &nbsp; No

			&nbsp;
			a.btn.btn-large(href="/topics/#{topic.key}/vote/flag", class=flag_class)
				i.icon-large.icon-warning-sign
				| &nbsp; Inappropriate

	p Current tally: 
		b= topic.tally
		.
